@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
body{
    background: linear-gradient(to right, #fc00ff, #00dbde)
}
h2{
    padding: 20px;
    text-align: center;
    font-family:'rubic puddles';
    font-weight: 20px;
    font-size: xx-large;
    margin-bottom: 0;
}
#form{
    text-align: center;
    padding: 60px;
    margin-top: 0;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-color: black;
    
}
#filling{
    padding:10px;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}
.button{
    width:60px;
    border-color: #ffd200;
    background-image:  linear-gradient(to right, #fdfc47, #24fe41); 
    border-radius: 20px;
    padding:10px;
    border: black solid;
}
.button:hover{
    background-image:linear-gradient(lightgreen,yellow);
    cursor: pointer;
}
#joy{
    padding:10px;
}
#hello{
    padding: 10px;
}
